<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>音読修行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <style> 
      #recordButton {font-family: 'M PLUS Rounded 1c', sans-serif}
      #pauseButton {font-family: 'M PLUS Rounded 1c', sans-serif}
      #stopButton {font-family: 'M PLUS Rounded 1c', sans-serif}
 </style>

  </head>
  
  <body>
    <br>
    <div id="controls" style="text-align:center">
  	 <button type="button" class="btn btn-success btn-lg" id="recordButton">録音</button>
  	 <button type="button" class="btn btn-warning btn-lg" id="pauseButton" disabled>一時停止</button>
     <button type="button" class="btn btn-danger btn-lg" id="stopButton" disabled>停止</button>
     <br>
    </div>
    <div id="formats"></div>
    <!-- 消せませんでした -->

  	<ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  	<script src="/static/js/app.js"></script>
  </body>
</html>